/.env
/.env.backup
/.env.production
/.fleet
/.idea
/.phpactor.json
/.phpstorm.meta.php
/.phpunit.cache
/.phpunit.result.cache
/.vscode
/.zed/
/Homestead.json
/Homestead.yaml
/_ide_helper.php
/auth.json
/node_modules
/npm-debug.log
/public/build
/public/hot
/public/storage
/resources/js/ziggy.js
/storage/*.key
/vendor
/yarn-error.log
